*.jpg
*.png
*.csv
*.h5
*.p
*.pptx
2. Models/**
1. Data Gen/1. Data/**
1. Data Gen/2. Data for Predictions/**
1. Data Gen/3. Data From Predictions/**
2. Data Gen/**
*3. Video Archive*
video ideas.txt
readme copy.txt
*.vscode
!1. Data Gen/Ground Truth Tutorial.png